* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-transition * {
    transition: all 0.3s ease;
}
body.light{
    background-color: #f0f0f0;
    color: #333;
}